<!DOCTYPE html>
<html>
  <head>
    <% if @article %>
      <title><%= @article.title %> | Blog Title</title>
    <% else %>
      <title>Blog Title</title>
    <% end %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
      <div class="admin-header">
        <div class="align--left">
          <%= current_user.name %>
        </div>
        <div class="align--right">
          <%= link_to "+", new_article_url, :class => 'article--new-url', :title => 'New article' %>
        </div>
      </div>
    <% end %>
   
    <header>
      <h1>Blog Title</h1>
    </header>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>