<!DOCTYPE html>
<html>
  <head>
    <% if @article %>
      <title><%= @article.title %> | Blog Title</title>
    <% else %>
      <title>Blog Title</title>
    <% end %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body <%= 'class="logged-in"' if current_user %>>
    <header class="page--header">
      <% if current_user %>
        <div class="logged-in--header">
          <div class="align--left">
            <%= current_user.name %>
          </div>
          <div class="align--right">
            <%= link_to "+", new_article_url, :title => 'New article' %>
            <%= link_to "⚙", edit_user_url(current_user), :title => 'Account settings' %>
          </div>
        </div>
      <% end %>
      
      <h1><%= link_to "Blog Title", articles_url %></h1>
    </header>
    
    <%= yield %>
  </body>
</html>